.table {
    margin-left: auto;
    margin-right: auto;
    width: 748px;
    color: #070707;
    text-align: center;
    border-collapse: collapse;
}

table,
th,
td {
    width: 33%;
    padding: 4px;
    font-size: 20px;
}

th,
td {
    border: 2px solid #070707;
}

.header {
    background-color: #272727;
    color: white;
    font-size: 14px;
}

td:first-child {
    padding-left: 60px;
    text-transform: capitalize;
    text-align: left;
}

td:last-child {
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #808080;
}